<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body bgcolor="powderblue">
    <form method="post">
        {% csrf_token %}
    <h1> *COURSE WISE STUDENT DETAILS* </h1>
    Select Course:
    <select name="courses">
        {% for course in courses %}
        {% if course.id == cid %}
        <option value="{{course.id}}" selected>{{course.name}}</option>
        {% else %}
        <option value="{{course.id}}">{{course.name}}</option>
        {% endif %}
       {% endfor %}
    </select>
<!-- <button>Get Student Details</button> -->
<br/><br/>
<h2>We Have Following Student of  {{cname}} </h2>
<table>
    <tr>
        <th>S.NO.</th>
        <th>Name</th>
        <th>Age</th>
        <th>Mobile Number</th>
    </tr>
    {% for stu in students %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{stu.name}}</td>
        <td>{{stu.age}}</td>
        <td>{{stu.mobileno}}</td>
    </tr>   
    {% empty %}
    <h2>No Student Enrolled in this Course!!</h2>
    {% endfor %}
</table>
</form>
</body>
</html>
