<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        h1{
            text-align: center;
            color: crimson;
            background-color: cornflowerblue;
        }
        label{
            color: brown;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>This is a Form</h1>
    <!-- GET -->
    <!-- <div class="container">
        <form>
            <label>Vale1</label>
            <input type="text" name="num1" class="form-control">
            <label>Vale2</label>
            <input type="text" name="num2" class="form-control">
            <button type="submit">Summit</button>
            <label>Output</label>
            <input type="text" class="form-control" value="{{op}}">
        </form>
    </div> -->
    
    <div class="container">
        
        <!-- <form method="post" action="{% url 'index' %}"> -->
        <form method="post">
            {% csrf_token %} 
            {{form}}  
            <!-- <label>Vale1</label>
            <input type="text" name="num1" class="form-control" value="{{n1}}">
            <label>Vale2</label>
             <input type="text" name="num2" class="form-control" value="{{n2}}"> -->
            <button type="submit">Summit</button>
            <label>Output</label>
            <input type="text" class="form-control" value="{{op}}">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>