<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        h1{
            color: brown;
            text-align: center;
            background-color: cadetblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        label{
            color: rgb(63, 115, 10);
            text-align: center;
            
        }
    </style>
</head>
<body>
    <h1>~~~~~~~~~~~Welcome To Index Page~~~~~~~~~</h1>
    <label>{{title}}</label><br>
    <label>{{name}}</label>
    <div>
        <img src="/media/{{News.news_image}}">
    </div>
</body>
</html>